# Special Codes for Olympics

Use Pandas to scrape the following site and decode the special codes used for Olympics since 1896 until 2018.

In [82]:
import pandas as pd

In [83]:
url = 'https://en.wikipedia.org/wiki/List_of_IOC_country_codes'
oly_codes = ['Code', 'Nation/Team', 'Years', 'Notes']

In [84]:
# Use Panda's `read_html` to parse the url
tables = pd.read_html(url)
tables

[                                                     0  \
 0                                                 Code
 1    .mw-parser-output .monospaced{font-family:mono...
 2                                                  ALB
 3                                                  ALG
 4                                                  AND
 5                                                  ANG
 6                                                  ANT
 7                                                  ARG
 8                                                  ARM
 9                                                  ARU
 10                                                 ASA
 11                                                 AUS
 12                                                 AUT
 13                                                 AZE
 14                                                 BAH
 15                                                 BAN
 16                                                 BAR
 17                                                 BDI
 18                                                 BEL
 19                                                 BEN
 20                                                 BER
 21                                                 BHU
 22                                                 BIH
 23                                                 BIZ
 24                                                 BLR
 25                                                 BOL
 26                                                 BOT
 27                                                 BRA
 28                                                 BRN
 29                                                 BRU
 ..                                                 ...
 177                                                SUR
 178                                                SVK
 179                                                SWE
 180                                                SWZ
 181                                                SYR
 182                                                TAN
 183                                                TGA
 184                                                THA
 185                                                TJK
 186                                                TKM
 187                                                TLS
 188                                                TOG
 189                                                TPE
 190                                                TTO
 191                                                TUN
 192                                                TUR
 193                                                TUV
 194                                                UAE
 195                                                UGA
 196                                                UKR
 197                                                URU
 198                                                USA
 199                                                UZB
 200                                                VAN
 201                                                VEN
 202                                                VIE
 203                                                VIN
 204                                                YEM
 205                                                ZAM
 206                                                ZIM

                                     1  \
 0          National Olympic Committee
 1                         Afghanistan
 2                             Albania
 3                             Algeria
 4                             Andorra
 5                              Angola
 6                 Antigua and Barbuda
 7                           Argentina
 8                             Armenia
 9                               Aruba
 10                     American Samoa
 11                          Australia
 12                            Austria
 13                         Azerbaijan
 14                            Bahamas
 15                         Bangladesh
 16                           Barbados
 17                            Burundi
 18                            Belgium
 19                              Benin
 20                            Bermuda
 21                             Bhutan
 22             Bosnia and Herzegovina
 23                             Belize
 24                            Belarus
 25                            Bolivia
 26                           Botswana
 27                             Brazil
 28                            Bahrain
 29                             Brunei
 ..                                ...
 177                          Suriname
 178                          Slovakia
 179                            Sweden
 180                         Swaziland
 181                             Syria
 182                          Tanzania
 183                             Tonga
 184                          Thailand
 185                        Tajikistan
 186                      Turkmenistan
 187                        East Timor
 188                              Togo
 189                 Chinese Taipei[5]
 190               Trinidad and Tobago
 191                           Tunisia
 192                            Turkey
 193                            Tuvalu
 194              United Arab Emirates
 195                            Uganda
 196                           Ukraine
 197                           Uruguay
 198                     United States
 199                        Uzbekistan
 200                           Vanuatu
 201                         Venezuela
 202                           Vietnam
 203  Saint Vincent and the Grenadines
 204                             Yemen
 205                            Zambia
 206                          Zimbabwe

                                                  2      3
 0                                 Other codes used   Link
 1                                              NaN    [1]
 2                                              NaN    [2]
 3                           AGR (1964)AGL (1968 S)    [3]
 4                                              NaN    [4]
 5                                              NaN    [5]
 6                                              NaN    [6]
 7                                              NaN    [7]
 8                                              NaN    [8]
 9                                              NaN    [9]
 10                                             NaN   [10]
 11                                             NaN   [11]
 12                                             NaN   [12]
 13                                             NaN   [13]
 14                                             NaN   [14]
 15                                             NaN   [15]
 16                                      BAD (1964)   [16]
 17                                             NaN   [17]
 18                                             NaN   [18]
 19                       DAY (1964)DAH (1968–1976)   [19]
 20                                             NaN   [20]
 21                                             NaN   [21]
 22                                    BSH (1992 S)   [22]
 23                                 HBR (1968–1972)   [23]
 24                                             NaN   [24]
 25                                             NaN   [25]
 26                                             NaN   [26]
 27                                             NaN   [27]
 28                                             NaN   [28]
 29                                             NaN   [29]
 ..                                             ...    ...
 177                                            NaN  [177]
 178                                            NaN  [178]
 179                 SVE (1956 W1960 S)SUE (1968 S)  [179]
 180                                            NaN  [180]
 181                                     SIR (1968)  [181]
 182                                            NaN  [182]
 183                                     TON (1984)  [183]
 184                                            NaN  [184]
 185                                            NaN  [185]
 186                                            NaN  [186]
 187                                            NaN  [187]
 188                                            NaN  [188]
 189  RCF (1956–1960)TWN (1964–1968)ROC (1972–1976)  [189]
 190                 TRT (1964–1968)TRI (1972–2012)  [190]
 191                                            NaN  [191]
 192                                            NaN  [192]
 193                                            NaN  [193]
 194                                            NaN  [194]
 195                                            NaN  [195]
 196                                            NaN  [196]
 197                                     URG (1968)  [197]
 198                       SUA (1960 S)EUA (1968 S)  [198]
 199                                            NaN  [199]
 200                                            NaN  [200]
 201                                            NaN  [201]
 202                      VET (1964)VNM (1968–1976)  [202]
 203                                            NaN  [203]
 204                                            NaN  [204]
 205                                     NRH (1964)  [205]
 206                                RHO (1960–1972)  [206]

 [207 rows x 4 columns],       0                              1  \
 0  Code  National Paralympic Committee
 1   MAC                   Macau, China
 2   FRO                  Faroe Islands

                                                 2
 0                                            Link
 1  Associação Recreativa dos Deficientes de Macau
 2     The Faroese Sport Organisation for Disabled  ,        0                       1  \
 0   Code             Nation/Team
 1    AHO    Netherlands Antilles
 2    ANZ             Australasia
 3    BOH                 Bohemia
 4    BWI     British West Indies
 5    EUA  United Team of Germany
 6    EUN            Unified Team
 7    FRG            West Germany
 8    GDR            East Germany
 9    RU1          Russian Empire
 10   SCG   Serbia and Montenegro
 11   TCH          Czechoslovakia
 12   URS            Soviet Union
 13   YUG              Yugoslavia
 14   ZZX              Mixed team

                                                     2
 0                                    Other codes used
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                            ANT (19601968)WID (1964)
 5                                     GER (1956–1964)
 6                                                 NaN
 7             ALL (1968 W)ALE (1968 S)GER (1972–1976)
 8                                          ADE (1968)
 9                                                 NaN
 10                                                NaN
 11  CSL (1956 W)CZE (1960 W)CSV (1960 S)CZS (1964 ...
 12                                       SOV (1968 W)
 13                  JUG (1956–19601968 W)YUS (1964 S)
 14                                                NaN  ,        0                     1          2  \
 0   Code          Nation (NOC)      Years
 1    BIR                 Burma  1948–1988
 2    CEY                Ceylon  1948–1972
 3    DAH               Dahomey  1964–1976
 4    GUI        British Guiana  1948–1964
 5    HBR      British Honduras  1968–1972
 6    IHO     Dutch East Indies  1934–1938
 7    KHM        Khmer Republic  1972–1976
 8    MAL                Malaya  1956–1960
 9    NBO          North Borneo       1956
 10   NRH     Northern Rhodesia       1964
 11   RAU  United Arab Republic       1960
 12   RHO              Rhodesia  1960–1972
 13   ROC     Republic of China  1932–1976
 14   SAA                  Saar       1952
 15   UAR  United Arab Republic  1964–1968
 16   VOL           Upper Volta  1972–1984
 17   YAR           North Yemen  1984–1988
 18   YMD           South Yemen       1988
 19   ZAI                 Zaire  1972–1996
 20     —            Gold Coast       1952

                                                     3
 0                                               Notes
 1                                   Now Myanmar (MYA)
 2                                 Now Sri Lanka (SRI)
 3                                     Now Benin (BEN)
 4                                    Now Guyana (GUY)
 5                                    Now Belize (BIZ)
 6                                 Now Indonesia (INA)
 7                                  Now Cambodia (CAM)
 8   Competed independently prior to the formation ...
 9                                                 NaN
 10                                   Now Zambia (ZAM)
 11                    Now Egypt (EGY) and Syria (SYR)
 12                                 Now Zimbabwe (ZIM)
 13  Now competing under the name Chinese Taipei (TPE)
 14  Competed independently prior to rejoining West...
 15                                    Now Egypt (EGY)
 16                             Now Burkina Faso (BUR)
 17  Competed independently prior to Yemeni unifica...
 18                                                NaN
 19         Now Democratic Republic of the Congo (COD)
 20                                    Now Ghana (GHA)  ,        0                                 1             2  \
 0   Code                       Nation/Team         Years
 1    ANZ                       Australasia     1908–1912
 2    COR                             Korea          2018
 3    EUA            United Team of Germany     1956–1964
 4    EUN                      Unified Team          1992
 5    IOP  Independent Olympic Participants      19922014
 6    IOA      Independent Olympic Athletes  200020122016
 7    IOC              Athletes from Kuwait          2010
 8    MIX                        Mixed-NOCs     2010–2018
 9    OAR      Olympic Athletes from Russia          2018
 10   ROT              Refugee Olympic Team          2016
 11   ZZX                        Mixed team     1896–1904

                                                     3
 0                                               Notes
 1   Used in the IOC's medal database[6] to identif...
 2   Used for a unified Korean ice hockey team at t...
 3   Used in the IOC's medal database[6] to identif...
 4   Used in 1992 (both Summer and Winter Games) fo...
 5   Used for Independent Olympic Participants at t...
 6   Used for Individual Olympic Athletes in 2000,[...
 7   Used as the country code for Athletes from Kuw...
 8   Used as the country code for Mixed NOCs at the...
 9   Used for Olympic Athletes from Russia competin...
 10  Used for the Refugee Olympic Team at the 2016 ...
 11  Used in the IOC's medal database[6] to identif...  ,       0                                    1         2  \
 0  Code                          Nation/Team     Years
 1   IPP  Independent Paralympic Participants      1992
 2   IPA       Individual Paralympic Athletes  20002016
 3   NPA          Neutral Paralympic Athletes      2018

                                                    3
 0                                              Notes
 1  Used for Independent Paralympic Participants a...
 2                                                NaN
 3  Used for Neutral Paralympic Athletes competing...  ,                                                    0  \
 0                                   vteOlympic Games
 1  Ceremonies People who opened the Olympics Keep...
 2                                        SummerGames
 3                                       Winter Games
 4  Ancient Olympic Games Intercalated Games 1906 ...

                                                    1   2
 0                                                NaN NaN
 1                                                NaN NaN
 2  1896 Athens 1900 Paris 1904 St. Louis 1908 Lon... NaN
 3  1924 Chamonix 1928 St. Moritz 1932 Lake Placid... NaN
 4                                                NaN NaN  ,                        0                                                  1  \
 0   vteGeocoding systems                                                NaN
 1   Administrative codes  HASC NUTS (EU) ONS MARC country codes SGC code...
 2          Airport codes                IATA airport code ICAO airport code
 3          Country codes  IANA country code ISO 3166-1 alpha-2 alpha-3 n...
 4    Geodesicplace codes  Global Geohash Geohash-36 GEOREF Geotude SALB ...
 5                 Global  Geohash Geohash-36 GEOREF Geotude SALB Mapcode...
 6          North America  FIPS country code (FIPS 10-4) FIPS place code ...
 7           Postal codes  Natural Area Code Postal Index Number (India) ...
 8              Telephony  ITU-R country codes ITU-T country calling code...
 9     Radio broadcasting  Maidenhead Locator System Historical : QRA loc...
 10                 Sport               IOC country codes FIFA country codes
 11                Global  Geohash Geohash-36 GEOREF Geotude SALB Mapcode...
 12         North America  FIPS country code (FIPS 10-4) FIPS place code ...

          2                                                  3              4  \
 0      NaN                                                NaN            NaN
 1      NaN                                                NaN            NaN
 2      NaN                                                NaN            NaN
 3      NaN                                                NaN            NaN
 4   Global  Geohash Geohash-36 GEOREF Geotude SALB Mapcode...  North America
 5      NaN                                                NaN            NaN
 6      NaN                                                NaN            NaN
 7      NaN                                                NaN            NaN
 8      NaN                                                NaN            NaN
 9      NaN                                                NaN            NaN
 10     NaN                                                NaN            NaN
 11     NaN                                                NaN            NaN
 12     NaN                                                NaN            NaN

                                                     5
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4   FIPS country code (FIPS 10-4) FIPS place code ...
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN  ,                0                                                  1
 0         Global  Geohash Geohash-36 GEOREF Geotude SALB Mapcode...
 1  North America  FIPS country code (FIPS 10-4) FIPS place code ...]

In [85]:
df = tables[4]
df

,0,1,2,3
0,Code,Nation/Team,Years,Notes
1,ANZ,Australasia,1908–1912,Used in the IOC's medal database[6] to identif...
2,COR,Korea,2018,Used for a unified Korean ice hockey team at t...
3,EUA,United Team of Germany,1956–1964,Used in the IOC's medal database[6] to identif...
4,EUN,Unified Team,1992,Used in 1992 (both Summer and Winter Games) fo...
5,IOP,Independent Olympic Participants,19922014,Used for Independent Olympic Participants at t...
6,IOA,Independent Olympic Athletes,200020122016,"Used for Individual Olympic Athletes in 2000,[..."
7,IOC,Athletes from Kuwait,2010,Used as the country code for Athletes from Kuw...
8,MIX,Mixed-NOCs,2010–2018,Used as the country code for Mixed NOCs at the...
9,OAR,Olympic Athletes from Russia,2018,Used for Olympic Athletes from Russia competin...
10,ROT,Refugee Olympic Team,2016,Used for the Refugee Olympic Team at the 2016 ...
11,ZZX,Mixed team,1896–1904,Used in the IOC's medal database[6] to identif...

In [86]:
df.columns = ['Code', 'Nation/Team', 'Years', 'Notes']
df

,Code,Nation/Team,Years,Notes
0,Code,Nation/Team,Years,Notes
1,ANZ,Australasia,1908–1912,Used in the IOC's medal database[6] to identif...
2,COR,Korea,2018,Used for a unified Korean ice hockey team at t...
3,EUA,United Team of Germany,1956–1964,Used in the IOC's medal database[6] to identif...
4,EUN,Unified Team,1992,Used in 1992 (both Summer and Winter Games) fo...
5,IOP,Independent Olympic Participants,19922014,Used for Independent Olympic Participants at t...
6,IOA,Independent Olympic Athletes,200020122016,"Used for Individual Olympic Athletes in 2000,[..."
7,IOC,Athletes from Kuwait,2010,Used as the country code for Athletes from Kuw...
8,MIX,Mixed-NOCs,2010–2018,Used as the country code for Mixed NOCs at the...
9,OAR,Olympic Athletes from Russia,2018,Used for Olympic Athletes from Russia competin...
10,ROT,Refugee Olympic Team,2016,Used for the Refugee Olympic Team at the 2016 ...
11,ZZX,Mixed team,1896–1904,Used in the IOC's medal database[6] to identif...

In [87]:
#df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [90]:
df.get_values()

array([['Code', 'Nation/Team', 'Years', 'Notes'],
       ['ANZ', 'Australasia', '1908–1912',
        "Used in the IOC's medal database[6] to identify the team from Australasia, composed of athletes from both Australia and New Zealand for the 1908 and 1912 Games. By 1920, both nations competed separately."],
       ['COR', 'Korea', '2018',
        'Used for a unified Korean ice hockey team at the 2018 Winter Olympics. Also used when the delegations of the two Korean NOCs enter together during the opening ceremony.[7]'],
       ['EUA', 'United Team of Germany', '1956–1964',
        "Used in the IOC's medal database[6] to identify the United Team of Germany, composed of athletes representing the NOCs of both East Germany and West Germany for the 1956–1964 Games. At the time, the team was simply known as Germany in the official reports for those six Games."],
       ['EUN', 'Unified Team', '1992',
        'Used in 1992 (both Summer and Winter Games) for the Unified Team, composed of athletes from most of the ex-republics of the Soviet Union. Only the Baltic states were able to compete as independent teams in 1992; the other twelve new nations competed independently for the first time in 1994 and/or 1996.'],
       ['IOP', 'Independent Olympic Participants', '19922014',
        'Used for Independent Olympic Participants at the 1992 Summer Olympics as a designation used for athletes from FR Yugoslavia who could not compete as a team due to United Nations sanctions. At the 1992 Summer Olympics IOP was used as a designation for athletes from the Republic of Macedonia too. IOP was also used during the 2014 Winter Olympics in Sochi by Indian athletes due to the Indian Olympic Association suspension.'],
       ['IOA', 'Independent Olympic Athletes', '200020122016',
        "Used for Individual Olympic Athletes in 2000,[8] a designation used for athletes from Timor-Leste prior to the formation of its NOC. IOA was used again in the 2012 Games, when it stood for Independent Olympic Athletes,[9] comprising athletes from the former Netherlands Antilles and a runner from South Sudan. The Netherlands Antilles Olympic Committee's membership from the IOC was withdrawn the previous year, and South Sudan has not formed an NOC. IOA was used again in 2016 for athletes from Kuwait as a result of the suspension of its National Olympic Committee.[10]"],
       ['IOC', 'Athletes from Kuwait', '2010',
        'Used as the country code for Athletes from Kuwait at the 2010 Asian Games, as the Kuwait Olympic Committee was suspended.'],
       ['MIX', 'Mixed-NOCs', '2010–2018',
        'Used as the country code for Mixed NOCs at the Youth Olympics.[11][12]'],
       ['OAR', 'Olympic Athletes from Russia', '2018',
        'Used for Olympic Athletes from Russia competing as neutral athletes due to the state-sponsored doping scandal.[13]'],
       ['ROT', 'Refugee Olympic Team', '2016',
        'Used for the Refugee Olympic Team at the 2016 Summer Olympics for athletes to compete who have been displaced from their home countries.[14]'],
       ['ZZX', 'Mixed team', '1896–1904',
        "Used in the IOC's medal database[6] to identify medals won by mixed teams of athletes from multiple nations (such as the combination of France and Great Britain, for example), a situation that happened several times in the Games of 1896, 1900, and 1904."]],
      dtype=object)

In [91]:
#df.sort_values

Cleanup of extra row

In [92]:
# drop the extra columns
del df['Years']

In [93]:
df

,Code,Nation/Team,Notes
0,Code,Nation/Team,Notes
1,ANZ,Australasia,Used in the IOC's medal database[6] to identif...
2,COR,Korea,Used for a unified Korean ice hockey team at t...
3,EUA,United Team of Germany,Used in the IOC's medal database[6] to identif...
4,EUN,Unified Team,Used in 1992 (both Summer and Winter Games) fo...
5,IOP,Independent Olympic Participants,Used for Independent Olympic Participants at t...
6,IOA,Independent Olympic Athletes,"Used for Individual Olympic Athletes in 2000,[..."
7,IOC,Athletes from Kuwait,Used as the country code for Athletes from Kuw...
8,MIX,Mixed-NOCs,Used as the country code for Mixed NOCs at the...
9,OAR,Olympic Athletes from Russia,Used for Olympic Athletes from Russia competin...
10,ROT,Refugee Olympic Team,Used for the Refugee Olympic Team at the 2016 ...
11,ZZX,Mixed team,Used in the IOC's medal database[6] to identif...

In [94]:
# drop the extra columns
del df['Notes']

In [95]:
df

    Code                       Nation/Team
0   Code                       Nation/Team
1    ANZ                       Australasia
2    COR                             Korea
3    EUA            United Team of Germany
4    EUN                      Unified Team
5    IOP  Independent Olympic Participants
6    IOA      Independent Olympic Athletes
7    IOC              Athletes from Kuwait
8    MIX                        Mixed-NOCs
9    OAR      Olympic Athletes from Russia
10   ROT              Refugee Olympic Team
11   ZZX                        Mixed team

In [96]:
# Drop the first row and set the index to the `Code` column
df = df.iloc[1:]
df.set_index('Code', inplace=True)
df

                           Nation/Team
Code
ANZ                        Australasia
COR                              Korea
EUA             United Team of Germany
EUN                       Unified Team
IOP   Independent Olympic Participants
IOA       Independent Olympic Athletes
IOC               Athletes from Kuwait
MIX                         Mixed-NOCs
OAR       Olympic Athletes from Russia
ROT               Refugee Olympic Team
ZZX                         Mixed team

In [97]:
# Loop through the list of olympic codes and print the abbreviation
# along with the full description from the `Nation/Team` column.
# Use the DataFrame to perform the lookup.
for Code in df.index.values:
    print(Code, df.loc[Code]['Nation/Team'])

ANZ Australasia
COR Korea
EUA United Team of Germany
EUN Unified Team
IOP Independent Olympic Participants
IOA Independent Olympic Athletes
IOC Athletes from Kuwait
MIX Mixed-NOCs
OAR Olympic Athletes from Russia
ROT Refugee Olympic Team
ZZX Mixed team